* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: link("https://fonts.google.com/specimen/Nunito+Sans");
}

:root {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg-default: #FFFFFF;
    --bg-body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;

    /* Dark mode */
    --dark-brand-primary: #0768AC;
    --dark-brand-secondary: #03C180;
    --dark-bg-default: #1A1A1A;
    --dark-bg-body: #282828;
    --dark-lines-color: #000000;
    --dark-body-text: #EDEDED;
    --dark-heart-color: #DC143C;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: var(--bg-body);
    color: var(--body-text);
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: var(--bg-default);
    padding: 10px 0;
    border-bottom: 1px solid var(--lines-color);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
    color: var(--brand-primary);
}


/*  */

.navbarButtons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navbarButtons .navbarBtn {
    padding: 0 8px;
    border: solid var(--lines-color) 1px;
    border-radius: 4px;
    background-color: var(--bg-default);
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

.navbarButtons .navbarBtn button {
    padding: 5px;
    border: none;
    color: var(--body-text);
    background-color: var(--bg-default);
    font-weight: var(--font-weight-light);
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}



/*  */
#dark-mode-toggle,
#fav-button {
    padding: 0 8px;
    border: solid var(--lines-color) 1px;
    border-radius: 4px;
    background-color: var(--bg-default);
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}


.triangle2 {
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: linear-gradient(90deg, var(--brand-primary), var(--brand-secondary));
    position: absolute;
}

.triangle1 {
    width: 100%;
    height: 50px;
    clip-path: polygon(0 0, 100% 97%, 100% 0);
    background: linear-gradient(90deg, var(--brand-secondary), var(--brand-secondary));
    position: absolute;
}

.welcomeBox {
    color: var(--brand-secondary);
    padding: 40px 0;
    text-align: center;
    background: white;


}

.container h1 {
    padding-right: 8.9rem;
}

.welcomeBox .container p {
    color: var(--body-text);
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 20px 0;
}

.search-bar {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    flex: 1;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sort,
.filter {
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    flex-grow: 1;
    max-width: 1440px;
}

#topics-count {
    padding-left: 6rem;
    margin: 10px 0;
}

.card {
    background-color: var(--bg-default);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
}

.card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer !important;
}

.card-content .stars {
    color: #FFD700;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content h4 {
    margin-bottom: 10px;
}

.card-content p {
    color: #888;
}

.testLink {
    text-decoration: none;
    color: var(--dark-lines-color);
}

footer {
    background-color: var(--bg-body);
    padding: 10px 0;
    text-align: center;
}


footer p {
    color: var(--body-text);
}

.fav {
    width: 100%;
    background-color: var(--bg-default);
    border-radius: 10px 10px 0 0; /* Only round the top corners */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Shadow on the top side */
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0; /* Stick to the bottom */
    left: 0;
    z-index: 1000; /* Ensure it is on top of other elements */
}

#fav-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fav-card {
    background-color: var(--bg-card);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fav-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.fav-card h2 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.fav-card .stars {
    color: gold;
}


.hidden {
    display: none;
}

/* Dark mode */
.dark-mode {
    --bg-body: var(--dark-bg-body);
    --bg-default: var(--dark-bg-default);
    --body-text: var(--dark-body-text);
    --lines-color: var(--dark-lines-color);
}

.dark-mode header {
    background-color: var(--dark-bg-default);
    border-bottom-color: var(--dark-lines-color);
}

.dark-mode header h1 {
    color: var(--dark-brand-primary);
}

.dark-mode .welcome-box .container p {
    color: var(--dark-body-text);
}

.dark-mode .search-container {
    background-color: var(--dark-bg-default);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode .search-container .search-bar {
    background-color: var(--dark-bg-default);
    color: var(--dark-body-text);
}

.dark-mode .sort,
.dark-mode .filter {
    background-color: var(--dark-bg-default);
    color: var(--dark-body-text);
}


.dark-mode header nav ul li a {
    color: var(--dark-brand-primary);
}

.dark-mode header nav ul button {
    background-color: var(--dark-bg-default);
    color: var(--dark-brand-primary);
}

.dark-mode .welcomeBox {
    background-color: var(--dark-bg-default);
    color: var(--dark-brand-secondary);

}

.dark-mode #dark-mode-toggle,
.dark-mode #fav-button {
    background-color: var(--dark-bg-default);
    border: 1px solid var(--dark-lines-color);
    color: var(--dark-body-text);
}

.dark-mode .welcomeBox .container p {
    color: var(--dark-body-text);
}

.dark-mode .testLink {
    color: white;
}

.dark-mode .card {
    background-color: var(--dark-bg-default);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.dark-mode footer {
    background-color: var(--bg-body);
    border-top-color: var(--dark-lines-color);
}

.dark-mode footer p {
    color: var(--dark-body-text);
}