* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg-default: #FFFFFF;
  --bg-body: #F0F9FF;
  --lines-color: #DDDDDD;
  --body-text: #333333;
  --heart-color: #DC143C;
  --stars:#FFD700;

  /* Dark mode */
  --dark-brand-primary: #0768AC;
  --dark-brand-secondary: #03C180;
  --dark-bg-default: #1A1A1A;
  --dark-bg-body: #282828;
  --dark-lines-color: #000000;
  --dark-body-text: #EDEDED;
  --dark-heart-color: #DC143C;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-body);
  color: var(--body-text);
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: var(--bg-default);
  padding: 10px 0;
  border-bottom: 1px solid var(--lines-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 20px;
  color: var(--brand-primary);
}


/*  */

.navbarButtons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbarButtons .navbarBtn {
  padding: 0 8px;
  border: solid var(--lines-color) 1px;
  border-radius: 4px;
  background-color: var(--bg-default);
  text-decoration: none;
  display: flex;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.navbarButtons .navbarBtn button {
  padding: 5px;
  border: none;
  color: var(--body-text);
  background-color: var(--bg-default);
  font-weight: var(--font-weight-light);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}



/*  */
#dark-mode-toggle,
#fav-button {
  padding: 0 8px;
  border: solid var(--lines-color) 1px;
  border-radius: 4px;
  background-color: var(--bg-default);
  text-decoration: none;
  display: flex;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.triangle2 {
  width: 100%;
  height: 50px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: linear-gradient(90deg, var(--brand-primary), var(--brand-secondary));
  position: absolute;
}

.triangle1 {
  width: 100%;
  height: 50px;
  clip-path: polygon(0 0, 100% 97%, 100% 0);
  background: linear-gradient(90deg, var(--brand-secondary), var(--brand-secondary));
  position: absolute;
}


.welcomeBox {
  color: var(--brand-secondary);
  background: white;
  padding: 40px 0;
  text-align: center;
  
}

.container h1{
padding-right: 10rem;}

.welcomeBox .container p {
  color: var(--body-text);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.main {
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}


.relativeContainer {
  position: relative;
  min-width: 250px;
}

.stars {
  color: var(--stars);
}

.topic {
  position: absolute;
  transform: translateX(60%);
  width: 250px;
  height: 150%;
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 14px 28px var(--lines-color) (0, 0, 0, 0.08),
    0 10px 10px var(--lines-color) (0, 0, 0, 0.05);
}

.topicImg {
  width: 100%;
  height: 128px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topicImg img {
  width: 100%;
  height: 100%;
}


.subTopicsContainer {
  background-color: var(--bg-body);
}

.subTopicsContainer {
  display: flex;
  justify-content: center;
  padding-block: 24px;
}

.relativeContainer {
  background-color: transparent;
  border: none;
}

.details {
  background-color: #333333;
  gap: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}

h4 {
  color: var(--brand-secondary);
  background-color: inherit;
}

.title,
.detailsP {
  color: white;
  background-color: inherit;
}

.detailsDiv,
.subTopicsDiv {
  max-width: 535px;
}

.detailsDiv {
  background-color: inherit;
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.favInfo-h5 {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.favInfo-h5 h5 {
  background-color: white;
  color: black;
}

.favInfo-h5 a {
  background-color: white;
}

.favoriteDiv {
  border: 1px solid #dddddd;
  padding: 16px;
  align-items: center;
  background-color: white;
}

.favoriteDiv-P {
  font-size: 0.8rem;
  color: black;
}

.favoriteInformationDiv {
  background-color: white;
  padding: 16px;
}

.addToFavoriteDiv {
  background-color: var(--brand-secondary);
  justify-content: center;
  align-items: center;
  display: flex;
}

.addToFavoriteBtn {
  color: rgb(255, 255, 255);
  background-color: inherit;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.favHeart {
  width: 24px;
  height: 24px;
  color: white;
}

.addToFavoriteBottom {
  margin-top: 10px;
  text-align: center;
  font-size: 0.7rem;
  color: gray;
}

.subTopicsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--lines-color);
  background: white;
}

.subTopic {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid var(--lines-color);
  border-radius: 8px;
  
}

.subTopic button {
  background: white;

  border: none;
  padding: 8px;
  cursor: pointer;
}

.subTopic span {
  color: var(--body-text);
  border: none;
}

.subTopicLastDiv {
  padding: 15px;
  width: 100%;
}

.subTopicsH4 {
  color: var(--body-text);
  background-color: var(--bg-default);
}

.checkMark {
  width: 24px;
  height: 24px;
  color: var(--brand-secondary);
}

footer {
  background-color: var(--bg-body);
  padding: 10px 0;
  text-align: center;
}

footer p {
  color: var(--body-text);
}

/* Dark mode */
.dark-mode {
  --bg-body: var(--dark-bg-body);
  --bg-default: var(--dark-bg-default);
  --body-text: var(--dark-body-text);
  --lines-color: var(--dark-lines-color);
}

.dark-mode #dark-mode-toggle, .dark-mode #fav-button {
  background-color: var(--dark-bg-default);
  color: white;
  border-color: black;
}

.dark-mode header {
  background-color: var(--dark-bg-default);
  border-bottom-color: var(--dark-lines-color);
}

.dark-mode header h1 {
  color: var(--dark-brand-primary);
}

.dark-mode .welcomeBox .container p {
  color: var(--dark-body-text);
}

.dark-mode header nav ul li a {
  color: var(--dark-brand-primary);
}

.dark-mode header nav ul button {
  background-color: var(--dark-bg-default);
  color: var(--dark-brand-primary);
}

.dark-mode .welcomeBox{
  background-color: var(--dark-bg-default);
  color: var(--dark-brand-secondary);
  
}

.dark-mode .subTopicsDiv {
  background-color: var(--dark-bg-default);

}

.dark-mode .subTopicsH4 {
  color: var(--dark-body-text);
  background-color: var(--dark-bg-default);

}

.dark-mode .subTopic button {
  background-color: var(--dark-bg-default);

}

.dark-mode footer {
  background-color: var(--bg-body);
  border-top-color: var(--dark-lines-color);
}

.dark-mode footer p {
  color: var(--dark-body-text);
}
